/*  */
html{
    font-size: 62.5%;
}


/* App css */


/* Course card */
.custom-card{
    width: 250px;
    border-radius: 1rem !important;
    overflow: hidden;
}

.custom-card .ant-card-meta-title {
    white-space: unset;
    font-size: 1.2rem;
}

.custom-card .ant-card-meta-description {
    font-size: 1rem;
}


.course-time-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.course-start-date, .course-length{
    display: flex;
}

.course-begin-date, .course-time-length, .roadmap-no-course {
    margin: 0;
    padding-left: 1rem;
}

/* Roadmap  */

.roadmap-container{
    display: flex;
}

.roadmap-card{
    display: flex;
}

.roadmap-container .ant-card-head-title{
    white-space: unset;
}

.roadmap-item{
    display: flex;
}

.roadmap-item p {
    margin-bottom: 0;
}

.course-time{
    padding-left: 3rem;
}